<header id="header" ng-controller="headerCtrl">
  <div class="grid-12">

    <div class="col col-2">
      <a class="logo" href="{{ site.baseurl }}/#/">
        <img src="/assets/img/logo.svg" alt="{{ site.title }}">
      </a>
    </div>
    <div class="col col-4 desktop-menu">
      <nav class="table">
        <ul class="table-row">
        {% assign nodes = site.pages | sort: "order" %}
        {% for node in nodes %}
          {% if node.title != nil and node.url != '/' and node.parent == nil and node.order > 0 %}
          {% capture nodediff %}{{ node.url | remove:"/" }}{% endcapture %}
          <li ui-sref-active="active" class="table-col nav-style--a">
            {% if node.order == 0 %}
            <a ui-sref="/">{{ node.title }}</a>
            {% else %}
            <a ui-sref="{{node.title | slugify}}"><span>{{ node.title }}</span></a>
            {% endif %}
            {% assign children = site.pages | where:  "parent", node.title %}
            {% if children != empty %}
            <ul role="dropdown">
            {% for child in children %}
              <li ui-sref-active="active" class="nav-style--b">
                <a ui-sref="{{child.title | slugify}}">{{ child.title }}</a>
              </li>
            {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="col col-6 desktop-menu">
      <div class="header-social">
        <nav>
          <ul class="table-row">
            <li class="table-col social-style--a">
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="ion-social-twitter"></i>
              </a>
            </li>
            <li class="table-col social-style--a">
              <a href="https://www.linkedin.com/in/adrianjonmiller" target="_blank"><i class="ion-social-linkedin"></i></a>
            </li>
            <li class="table-col social-style--a">
              <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="ion-social-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <nav id="mobile-menu">
    <ul>
      <!-- <li ui-sref-active="active" class="nav-style--b">
        <a class="logo" href="{{ site.baseurl }}/#/">
          <img src="/assets/img/logo.svg" alt="{{ site.title }}">
        </a>
      </li> -->
      {% assign nodes = site.pages | sort: "order" %}
      {% for node in nodes %}
        {% if node.title != nil and node.url != '/' and node.parent == nil and node.order > 0 %}
        {% capture nodediff %}{{ node.url | remove:"/" }}{% endcapture %}
        <li ui-sref-active="active" ng-click="toggleMenu()" class="nav-style--b">
          {% if node.order == 0 %}
          <a ui-sref="/">{{ node.title }}</a>
          {% else %}
          <a ui-sref="{{node.title | slugify}}"><span>{{ node.title }}</span></a>
          {% endif %}
          {% assign children = site.pages | where:  "parent", node.title %}
          {% if children != empty %}
          <ul role="dropdown">
          {% for child in children %}
            <li ui-sref-active="active" class="nav-style--b">
              <a ui-sref="{{child.title | slugify}}">{{ child.title }}</a>
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      <li class="nav-style--b">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
          <i class="ion-social-twitter"></i> Twitter
        </a>
      </li>
      <li class="nav-style--b">
        <a href="https://www.linkedin.com/in/adrianjonmiller" target="_blank">
          <i class="ion-social-linkedin"></i> LinkedIn
        </a>
      </li>
      <li class="nav-style--b">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
          <i class="ion-social-github"></i> Github
        </a>
      </li>
    </ul>
  </nav>
  <div class="mobile-menu-hamburger" ng-click="toggleMenu()">
    <?xml version="1.0" encoding="utf-8"?>
    <svg class="hamburger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
      <rect x="0" y="10" class="rect-1" width="40" height="6"/>
      <rect x="0" y="20" class="rect-2" width="40" height="6"/>
      <rect x="0" y="30" class="rect-3" width="40" height="6"/>
    </svg>
  </div>
</header>
