@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,400italic);

body {
	font-family: 'Lato', Helvetica, sans-serif;
}


.heading--xl {

}

.heading--l {
	font-size: 21pt;
	line-height: 1.3em;
	font-weight: 300;
}

.heading--m {
	font-size: 12pt;
	font-weight: 300;
}

a {
	color: $c-primary;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}