<div id="modal-screen"></div>
<div id="modal" class="post">
  <header class="modal-header">
  	<h2 class="post-title heading--l">{{ page.title }}</h2>
  	<span ng-click="closeModal()" class="close"><i class="ion-close"></i></span>
  </header>

  <div class="grid-3">
		<article class="modal-description">
	  	{{ content }}
	  </article>
		<article class="modal-content">
	  	<ul>
	  	{% for module in page.details.modules %}
	  		{% if module.src %}
	    		<li><img src="{{ module.src }}" /></li>
	    	{% endif %}
	    {% endfor %}
	  	</ul>
	  </article>
  </div>
</div>
